/* reseting padding and marging */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* box sizing config */
}

/* root configuration */
:root {
  font-size: 16px; /* default font-size */
}

/* customizing scroll bar */
::-webkit-scrollbar {
  width: 8px; /* scroll bar size */
}

::-webkit-scrollbar-track {
  background-color: #2c2c31; /* scroll bar background color */
}

::-webkit-scrollbar-thumb {
  background-color: #9e9ea0; /* scroll bar color */
}
/* customizing scroll bar */

/* entering keyframe animation */
@keyframes entering {
  /* begining effect */
  from {
    opacity: 0;
    transform: translateY(-200px); /* vertical position - slide effect */
  }
  /* ending effect */
  to {
    opacity: 1;
    transform: translateY(0); /* initial position - slide effect */
  }
}

body {
  background-color: #121215;
  color: #eaeaea;
  font-family: "Roboto", sans-serif; /* Roboto font, sans-serif font (alternative) */
  /* grid configuration */
  display: grid; /* defining grid display for all elements in body */
  grid-template-areas: "profile timeline"; /* left - profile right - timeline*/
  grid-template-columns: 1fr 1fr; /* flex size for columns (divide page) */
  grid-template-rows: 100vh; /* view heigh */
}

nav {
  padding: 64px; /* navigation padding */
  grid-area: timeline; /* elements from nav will be on the left */

  /* using keyframe animation */
  animation: entering 0.7s ease-in-out;
}

.memory {
  display: flex; /* defining display as flex */
  flex-direction: column; /* setting column format */
  gap: 16px; /* space between items (img, small, h1 etc) */
  text-decoration: none; /* remove underline (after transform into a link) */
  margin-bottom: 64px; /* setting bottom margin (space between posts) */
}

.memory small {
  color: #bebebf;
  font-size: 0.75rem; /* use the root prop */
}

.memory h1 {
  font-size: 2rem; /* use the root prop */
  color: #eaeaea;
}

.memory img {
  width: 100%; /* image width always fit the page */
  height: 280px; /* fixing image height */
  object-fit: cover; /* background image wont be distorced when zoomed */
  border-radius: 8px; /* rounded image border */

  /* making the zoom effect clean */
  transition: transform 0.3s ease-in-out;
}
/* image config - hover effect */
.memory div {
  width: 100%;
  height: 280px;
  overflow: hidden; /* config zoom size (when zoomed)*/
  border-radius: 8px; /* rounded image border */
}

/* hover effect */
.memory:hover img {
  transform: scale(1.1); /* define 10% zoom size */
}

.memory p {
  font-size: 1.2rem; /* use the root prop */
  color: #bebebf;
  line-height: 28px; /* space between the lines */
}

/* elements from aside will be on the right */
aside {
  grid-area: profile; /* grid profile */
  gap: 20px; /* space between logo, profilo photo  etc*/

  /* setting elements to flex - column*/
  display: flex;
  flex-direction: column;
  align-items: center; /* setting elements to the center - horizontal */
  justify-content: center; /* setting elements to the center - vertical */

  /* creating border - will divide the grid */
  border-right: 1px solid; /* border size */
  border-image: linear-gradient(#727275, #2c2c31) 1; /* gradient effect */

  /* background image config */
  background-image: url("./assets/bg2.png");
  background-position: top right; /* align based on top and right */
  background-repeat: no-repeat; /* image wont repeated */
  background-size: auto 100; /* image better adjustment */
}

/* apply animation only in aside elements (photo and title) */
aside * {
  /* using keyframe animation */
  animation: entering 0.7s ease-in-out;
}

/* profile image configuration */
aside img:nth-child(2) {
  width: 160px;
  height: 160px;
  border-radius: 50%; /* make the image a circle */

  /* border effect */
  border: 4px solid transparent;
  background: linear-gradient(#d39e33, #ed5636, #633bbc) padding-box,
    linear-gradient(260deg, #d39e33, #ed5636, #633bbc) border-box;
}

/* aside p configuration */
aside p {
  font-size: 2rem; /* use the root prop */
  text-align: center;
}

/* span configuration */
aside span {
  font-size: 0.75rem; /* use the root prop */
  color: #9e9ea0;
}

/* configuration for smaller screens */
@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  body {
    grid-template-columns: 1fr; /* config 1 column */
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas:
      "profile" /* first appear profile grid area */
      "timeline"; /* and then timeline area */
  }

  /* removing right border */
  aside {
    border-right: none;
    padding: 32px 12px;
  }

  /* config scroll */
  nav {
    overflow-y: visible; /* scroll bar will be showed in all screen */
    padding: 22px;
  }
}
